{% extends "bookmodule/layouts/base.html" %}
{% load static %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
  {% include 'bookmodule/includes/header.html' %} <!-- تضمين الهيدر -->
  
  <h1>Are you sure you want to delete the book "{{ book.title }}"?</h1>
  <p>Author: {{ book.author }}</p>
  
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete it</button>
    <a href="{% url 'list_books' %}">Cancel</a>
  </form>
  
  <link rel="stylesheet" href="{% static 'bookmodule/css/main.css' %}">
{% endblock %}
