<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example of Formatting Tags</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookmodule/css/main.css' %}">
</head>
<body>
    <h1>Example of Formatting Tags</h1>
    
    <p>This text has subtext using the <b>b</b> tag.</p>
    <p>This text has subtext using the <strong>strong</strong> tag.</p>
    <p>This text has subtext using the <i>i</i> tag.</p>
    <p>This text has subtext using the <em>emphasize</em> tag.</p>
    <p>This text has subtext using the <small>small</small> tag.</p>
    <p>This text has subtext using the <mark>mark</mark> tag.</p>
    <p>This text has subtext using the <del>del</del> tag.</p>
    <p>This text has subtext using the <ins>ins</ins> tag.</p>
    <p>This text has subtext using the <sub>sub</sub> tag.</p>
    <p>This text has subtext using the <sup>sup</sup> tag.</p>
</body>
</html>