<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookmodule/css/main.css' %}">
</head>
<body>
    <h1>The Best Features of the Internet</h1>
    
    <ul>
        <li>You can meet new people from countries around the world.</li>
        <li>You have access to new media as it becomes public:</li>
        <ul>
            <li>New games</li>
            <li>New applications</li>
            <ol>1.For business</ol>
            <ol>2.For pleasure</ol>
            <li>Around the clock news</li>
            <li>Search engines</li>
             <li>Shopping</li>
             <li>Programming</li>
             <ol>1.XML</ol>
            <ol>2.Java</ol>
            <ol>3.HTML5</ol>
            <ol>4.JavaScript</ol>
            <ol>5.New languages</ol>
        </ul>
        
        <li>Links</li>
        <li>Keeping in touch with old friends</li>
        <li>It's the technology of the future!</li>
    
</body>
</html>